<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-md-12">
			<h2 class="text-dark"><strong>{{"PDM.REGISTER_PDM_TITLE" | translate}}</strong></h2>
			<hr class="bg-secondary">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<section>
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<div class="row">

						<!-- Group -->	
						<div class="col-md-12 mt-3">
												
							<label for="category"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"PDM.GROUP_TITLE" | translate}}</b>
							</label>
							
							<select name id="category" formControlName="group" class="form-control" [(ngModel)]="selectedGroup">
								<option value="1" disabled selected>{{"BUTTON_TEXT.SELECT" | translate}}</option>								
								<option *ngFor="let item of groupList" [value]="item._id">
								 	{{ item.code +' '+ item.segment}}
								</option>
							</select>

							<div *ngIf="(form.controls['group'].errors?.['required'] && isSubmit) ||  (isSubmit && form.controls['group'].value == '1')"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"CATEGORIES_SEGMENTS.CATEGORY_REQUIRED" |
									translate}}</p>
							</div>

						</div>	

						<!-- Class -->	
						<div class="col-md-12 mt-3">
												
							<label for="category"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"PDM.CLASS_TITLE" | translate}}</b>
							</label>
							
							<select name id="category" formControlName="class" class="form-control" [(ngModel)]="selectedClass">
								<option value="1" disabled selected>{{"BUTTON_TEXT.SELECT" | translate}}</option>								
								<option *ngFor="let item of classList" [value]="item._id">
								 	{{ item.code +' '+ item.description}}
								</option>
							</select>

							<div *ngIf="(form.controls['group'].errors?.['required'] && isSubmit) || ( isSubmit && form.controls['class'].value == '1')"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"PDM.CLASS_REQUIRED" |
									translate}}</p>
							</div>

						</div>						
 						
 						<!-- Code -->
						<div class="col-md-12 mt-3">
							<label for="segment"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"PDM.CODE_TITLE" | translate}}</b>
							</label>
							<input type="text" required formControlName="code" class="form-control h50 br-10"
								id="code" placeholder="{{'PDM.ENTER_CODE' | translate}}" (keyup)="validateCode()">
							
							<div *ngIf="form.controls['code'].errors?.['required'] && isSubmit"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"PDM.CODE_REQUIRED" |
									translate}}</p>
							</div>

							<div *ngIf="!validCode"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"PDM.INVALID_CODE" |
									translate}}</p>
							</div>
							
						</div>

						<!-- Name -->
						<div class="col-md-12 mt-3">
							<label for="segment"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"PDM.NAME_TITLE" | translate}}</b>
							</label> 
							<input type="text" required formControlName="name" class="form-control h50 br-10"
								id="segment" placeholder="{{'PDM.ENTER_NAME' | translate}}">
							<div *ngIf="form.controls['name'].errors?.['required'] && isSubmit"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"PDM.NAME_REQUIRED" |
									translate}}</p>
							</div>
						</div>

						<!-- uintList -->
						<div class="col-md-12 mt-3">
							<label for="segment"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"PDM.UNIT_LIST_TITLE" | translate}}</b>
							</label> 
							
							<div class="row">
								<div class="col-md-7">
									<input type="text" required formControlName="unit" class="form-control h50 br-10"
										id="segment" placeholder="{{'PDM.ENTER_UNIT' | translate}}">
								</div>
								<div class="col-md-5">
									<button type="button" class="btn btn-primary btn-lg btn-block btn-add-unit" (click)="addUnit()"><strong>+ {{"PDM.BTN_ADD_UNIT" | translate}}</strong></button>
								</div>
								
								<div class="units">
									<div class="cycle" *ngFor="let item of unitList; let i = index">
									  <div class="unitText">
									      {{item}}
									  </div>									  
									  <div class="unitTrash" (click)="deleteUnit(i)">
									    <i class="fa fa-trash-o " aria-hidden="true"></i>
									  </div>
									</div>
								</div>

								<div *ngIf="!unitList.length && isSubmit"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"PDM.UNIT_LIST_REQUIRED" |
									translate}}</p>
							</div>

							</div>								
						</div>

						<!-- propertyList -->
						<div class="col-md-12 mt-3">
							<label for="segment"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"PDM.PROPERTY_LIST_TITLE" | translate}}</b>
							</label> 
							
							<div class="row">
								<div class="col-md-7">
									<input type="text" required formControlName="property" class="form-control h50 br-10"
										id="segment" placeholder="{{'PDM.ENTER_PROPERTY' | translate}}">
								</div>
								<div class="col-md-5">
									<button type="button" class="btn btn-primary btn-lg btn-block btn-add-property" (click)="addProperty()"><strong>+ {{"PDM.BTN_ADD_PROPERTY" | translate}}</strong></button>
								</div>
								
								<div class="properties">
									<div class="cycle" *ngFor="let item of propertyList; let i = index">
									  <div class="propertyText">
									      {{item.property}}
									  </div>
									  <div class="required" (click)="pressCheck(i)">
									     <input type="checkbox" class="checkbox"> {{"PDM.REQUIRED_PROPERTY" | translate}}
									  </div>
									  <div class="propertyTrash" (click)="deleteProperty(i)">
									    <i class="fa fa-trash-o " aria-hidden="true"></i>
									  </div>
									</div>
								</div>
								
							</div>
								
							<div *ngIf="!propertyList.length && isSubmit"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"PDM.PROPERTY_LIST_REQUIRED" |
									translate}}</p>
							</div>

						</div>

					</div>
					<div class="btn-actions">
						<div class="row">
							<div class="col-md-12">
								<div class="row d-flex justify-content-end">
									<div class="col-md-5">
										<button type="button" class="bg-transparent w-100 btn br-10 h50 color-pattern"
											(click)="cancel()"><strong>{{"BUTTON_TEXT.CANCEL" |
												translate}}</strong></button>
									</div>
									<div class="col-md-5">
										<button type="submit"
											class="btn bg-pattern text-light br-10 h50 w-100"><strong>{{"BUTTON_TEXT.REGISTER"
												| translate}}</strong></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>