<div class="container-fluid">
  <div class="row mt-5">
      <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center">
              <h2><strong>{{'ASSOCIATION_BIDDING.REVIEW_BIDDING' | translate}} </strong></h2>
          </div>
          <hr class="bg-secondary">
      </div>
  </div>
  <form [formGroup]="form">
      <div class="row">
          <div class="col-md-8 mt-2"> 
              <input type="text" class="form-control h50 br-10 text-dark" formControlName="search"
                  placeholder="{{'BUTTON_TEXT.INPUT_SEARCH_LICITACOES' | translate}}" />
          </div>
          <div class="col-md-4 mt-2">
              <div class="form-group">
                  <select class="form-control br-10 h50" (change)="changeSelectedFilter($event)">
                      <option selected value="listAll">{{'ADMINISTRATION_BIDDING.LIST_ALL' | translate}}</option>
                      <option value="awaiting">{{'ADMINISTRATION_BIDDING.AWAITING' | translate}}</option>
                      <option value="tiebreaker">{{'ADMINISTRATION_BIDDING.TIEBREAKER' | translate}}</option>
                      <option value="analysis">{{'ADMINISTRATION_BIDDING.ANALYSIS' | translate}}</option>
                      <option value="deserted">{{'ADMINISTRATION_BIDDING.DESERTED' | translate}}</option>
                      <option value="canceled">{{'ADMINISTRATION_BIDDING.CANCELED' | translate}}</option>
                      <option value="failed">{{'ADMINISTRATION_BIDDING.FAILED' | translate}}</option>
                      <option value="released">{{'ADMINISTRATION_BIDDING.RELEASED' | translate}}</option>
                      <option value="open">{{'ADMINISTRATION_BIDDING.OPEN' | translate}}</option>
                      <option value="completed">{{'ADMINISTRATION_BIDDING.COMPLETED' | translate}}</option>
                      <option value="reopened">{{'ADMINISTRATION_BIDDING.REOPENED' | translate}}</option>
                      <option value="returned">{{'CREATE_BIDDING_STATUS.RETURNED' | translate}}</option>
                  </select>
              </div>
          </div>

          <div *ngFor="let item of licitacoesListFilter | paginate: { itemsPerPage:
          itensPerPage, currentPage: currentPage }; let i= index;" class="col-md-12 border mt-2 br-10 py-3 m-3">
              <div class="row">
                  <div class="col-md-10">
                      <h3 class="mb-0 text-dark"><strong>{{item.bid_count}}/{{item.createdAt | date:'yyyy'}}</strong></h3>
                  </div>
                  <div class="col-md-2 text-capitalize">
                      <h6 class="font-poppins f-size-14 text-secondary">Status</h6>
                      <h5 *ngIf="item.status ==='awaiting'" class="f-size-16 text-warning">
                          {{'ADMINISTRATION_BIDDING.AWAITING' | translate}}</h5>
                      <h5 *ngIf="item.status ==='tiebreaker'" class="f-size-16 text-warning">
                          {{'ADMINISTRATION_BIDDING.TIEBREAKER' | translate}}</h5>
                      <h5 *ngIf="item.status ==='analysis'" class="f-size-16 text-info">
                          {{'ADMINISTRATION_BIDDING.ANALYSIS' | translate}}</h5>
                      <h5 *ngIf="item.status ==='deserted'" class="f-size-16 text-danger">
                          {{'ADMINISTRATION_BIDDING.DESERTED' | translate}}</h5>
                      <h5 *ngIf="item.status ==='canceled'" class="f-size-16 text-danger">
                          {{'ADMINISTRATION_BIDDING.CANCELED' | translate}}</h5>
                      <h5 *ngIf="item.status ==='failed'" class="f-size-16 text-danger">{{'ADMINISTRATION_BIDDING.FAILED'
                          | translate}}</h5>
               
                      <h5 *ngIf="item.status ==='released'" class="f-size-16 text-success">
                          {{'ADMINISTRATION_BIDDING.RELEASED' | translate}}</h5>
                      <h5 *ngIf="item.status ==='open'" class="f-size-16 text-success">{{'ADMINISTRATION_BIDDING.OPEN' |
                          translate}}</h5>
                      <h5 *ngIf="item.status ==='completed'" class="f-size-16 text-success">
                          {{'ADMINISTRATION_BIDDING.COMPLETED' | translate}}</h5>
                      <h5 *ngIf="item.status ==='reopened'" class="f-size-16 text-success">
                          {{'ADMINISTRATION_BIDDING.REOPENED' | translate}}</h5>
                      <h5 *ngIf="item.status ==='returned'" class="f-size-16 text-info">{{"CREATE_BIDDING_STATUS.RETURNED"
                          | translate}}</h5>
                  </div>
                  <div class="col-md-10 mt-2 ">
                      <h6 class="font-poppins f-size-14 text-secondary">{{'ADMINISTRATION_BIDDING.ASSOCIATION' |
                          translate}}</h6>
                      <h5 class="f-size-16">{{item.association?.name}}</h5>
                  </div>
                  <div *ngIf="item.proofreader" class="col-md-2 mt-2 text-capitalize">
                      <h6 class="font-poppins f-size-14 text-secondary">{{'ADMINISTRATION_BIDDING.REVIWER' | translate}}
                      </h6>
                      <h5 class="f-size-16">{{item.proofreader?.name}}</h5>
                  </div>
                  <div class="col-md-4 mt-2 ">
                      <h6 class="font-poppins f-size-14 text-secondary">{{'ADMINISTRATION_BIDDING.MODALITY' | translate}}
                      </h6>
                      <h5 *ngIf="item.modality ==='openClosed'" class="f-size-16 text-dark">
                          {{'ADMINISTRATION_BIDDING.PUBLIC' | translate}}</h5>
                      <h5 *ngIf="item.modality ==='openInvite'" class="f-size-16 text-dark">
                          {{'ADMINISTRATION_BIDDING.INVITATION_OPEN' | translate}}</h5>
                      <h5 *ngIf="item.modality ==='closedInvite'" class="f-size-16 text-dark">
                          {{'ADMINISTRATION_BIDDING.INVITATION_CLOSED' | translate}}</h5>
                  </div>
                  <div class="col-md-4 mt-2 ">
                      <h6 class="font-poppins f-size-14 text-secondary">{{'ADMINISTRATION_BIDDING.CLASSIFICATION' |
                          translate}}</h6>
                      <h5 class="f-size-16">{{item.classification}}</h5>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4 mt-2 ">
                      <h6 class="font-poppins f-size-14 text-secondary">{{'ADMINISTRATION_BIDDING.START_AT' | translate}}
                      </h6>

                      <h5 *ngIf="item.status !== 'returned' && item.status !== 'awaiting' && item.status !== 'draft'" class="f-size-16">{{item.start_at
                          | date: 'dd/MM/yyyy'}}</h5>
                  </div>
                  <div class="col-md-4 mt-2 ">
                      <h6 class="font-poppins f-size-14 text-secondary">{{'ADMINISTRATION_BIDDING.END_AT' | translate}}
                      </h6>

                      <h5 *ngIf="item.status !== 'returned' && item.status !== 'awaiting' && item.status !== 'draft'" class="f-size-16">{{item.end_at
                          | date: 'dd/MM/yyyy'}}</h5>

                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-10 mt-2 ">
                      <h6 class="font-poppins f-size-14 text-secondary">{{'ADMINISTRATION_BIDDING.DESCRIPTION' |
                          translate}}</h6>
                      <div style="max-width: 400px; height: 100px; overflow: hidden;">
                          <h5 class="f-size-16" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                              {{item.description}}</h5>
                      </div>
                  </div>
                  <div class="col-md-2 mt-2 ">
                      <button (click)="detailBids(item)"
                          class="br-10 w-100 h50 btn btn-primary">{{'ADMINISTRATION_BIDDING.DETAILS' | translate}}</button>
                  </div>

              </div>
          </div>
          <div *ngIf="licitacoesList.length > 5" class="col-md-12">
              <div class="col-md-12 d-flex justify-content-end">
                  <pagination-controls (pageChange)="currentPage= $event"
                      previousLabel="{{'BUTTON_TEXT.PREVIOUS' | translate}}"
                      nextLabel="{{'BUTTON_TEXT.NEXT' | translate}}"></pagination-controls>
              </div>
          </div>
      </div>
  </form>

</div>