<div class="position-absolute mr-3" style="right: 0; z-index: 9999;" [style]="backgroundColor?'background-color:'+backgroundColor+'!important;' :''">
	
	<nav class="navbar navbar-expand navbar-light bg-light"
		[style]="backgroundColor?'background-color:'+backgroundColor+'!important;' :''">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color':fontColor}">
						<div class="d-flex align-items-center">
							<img class="mr-1" src="../../../assets/images/translate.png" style="height: 21px; width: 21px;" />
							<span [ngStyle]="{'color':fontColor}">
								{{ selectLang }}
							</span>
						</div>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-item body-400-md" (click)="changeLanguage('en')">
							<div class="d-flex cursor-pointer">
								
								<span>EN-US</span>
							</div>
						</div>
						<div class="dropdown-item body-400-md" (click)="changeLanguage('pt')">
							<div class="d-flex cursor-pointer">
								
								<span>PT-BR</span>
							</div>
						</div>
						<div class="dropdown-item body-400-md" (click)="changeLanguage('fr')">
							<div class="d-flex cursor-pointer">
								
								<span>FR-FR</span>
							</div>
						</div>
						<div class="dropdown-item body-400-md" (click)="changeLanguage('es')">
							<div class="d-flex cursor-pointer">
								
								<span>ES-ES</span>
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
	</nav>
</div>