<div class="position-absolute mr-3" style="right: 0; z-index: 9999;" [style]="backgroundColor?'background-color:'+backgroundColor+'!important;' :''">
	
	<nav class="navbar navbar-expand navbar-light bg-light"
		[style]="backgroundColor?'background-color:'+backgroundColor+'!important;' :''">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color':fontColor}">
						<div class="d-flex">
							<img *ngIf="selectLang == 'EN-US'" class="mr-1" src="../../../assets/images/united-states.png"
								style="height: 21px" />
							<span *ngIf="selectLang == 'EN-US'" [ngStyle]="{'color':fontColor}">EN-US</span>
						</div>
						<div class="d-flex">
							<img *ngIf="selectLang == 'PT-BR'" class="mr-1" src="../../../assets/images/brazil-.png"
								style="height: 21px; width: 21px;" />
							<span *ngIf="selectLang == 'PT-BR'" [ngStyle]="{'color':fontColor}">PT-BR</span>
						</div>
						<div class="d-flex">
							<img *ngIf="selectLang == 'FR-FR'" class="mr-1" src="../../../assets/images/france.png"
								style="height: 21px; width: 21px;" />
							<span *ngIf="selectLang == 'FR-FR'" [ngStyle]="{'color':fontColor}">FR-FR</span>
						</div>
						<div class="d-flex">
							<img *ngIf="selectLang == 'ES-ES'" class="mr-1" src="../../../assets/images/spain.png"
								style="height: 21px; width: 21px;" />
							<span *ngIf="selectLang == 'ES-ES'" [ngStyle]="{'color':fontColor}">ES-ES</span>
						</div>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-item body-400-md" (click)="changeLanguage('en')">
							<div class="d-flex cursor-pointer">
								<img class="mr-1" src="../../../assets/images/united-states.png" style="height: 21px; width: 21px;" />
								<span>EN-US</span>
							</div>
						</div>
						<div class="dropdown-item body-400-md" (click)="changeLanguage('pt')">
							<div class="d-flex cursor-pointer">
								<img class="mr-1" src="../../../assets/images/brazil-.png" style="height: 21px; width: 21px;" />
								<span>PT-BR</span>
							</div>
						</div>
						<div class="dropdown-item body-400-md" (click)="changeLanguage('fr')">
							<div class="d-flex cursor-pointer">
								<img class="mr-1" src="../../../assets/images/france.png" style="height: 21px; width: 21px;" />
								<span>FR-FR</span>
							</div>
						</div>
						<div class="dropdown-item body-400-md" (click)="changeLanguage('es')">
							<div class="d-flex cursor-pointer">
								<img class="mr-1" src="../../../assets/images/spain.png" style="height: 21px; width: 21px;" />
								<span>ES-ES</span>
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
	</nav>
</div>