<div class="container-fluid">
	<div class="row mt-5">
		<div class="col-md-12">
			<h2 class="text-dark"><strong>{{"CLASSES.REGISTER_CLASS_TITLE" | translate}}</strong></h2>
			<hr class="bg-secondary">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<section>
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<div class="row">
						<div class="col-md-12 mt-3">

							<!-- Group -->	
							
							<label for="category"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"CLASSES.GROUP_TITLE" | translate}}</b>
							</label>
							
							
							<select name id="category" formControlName="group" class="form-control" [(ngModel)]="selectedGroup">
								<option value="1" disabled selected>{{"BUTTON_TEXT.SELECT" | translate}}</option>								
								<option *ngFor="let item of groupList" [value]="item._id">
								 	{{ item.code +' '+ item.segment}}
								</option>
							</select>
							<div *ngIf="form.controls['group'].errors?.['required'] && isSubmit"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"CATEGORIES_SEGMENTS.CATEGORY_REQUIRED" |
									translate}}</p>
							</div>
						</div>						
 						
 						<!-- Code -->
						<div class="col-md-12 mt-3">
							<label for="segment"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"CLASSES.CODE_TITLE" | translate}}</b>
							</label>
							<input type="text" required formControlName="code" class="form-control h50 br-10"
								id="code" placeholder="{{'CATEGORIES_SEGMENTS.ENTER_CODE' | translate}}" (keyup)="validateCode()">
							
							<div *ngIf="form.controls['code'].errors?.['required'] && isSubmit"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"CATEGORIES_SEGMENTS.CODE_REQUIRED" |
									translate}}</p>
							</div>

							<div *ngIf="!validCode"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"CATEGORIES_SEGMENTS.INVALID_CODE" |
									translate}}</p>
							</div>
							
						</div>

						<!-- Description -->
						<div class="col-md-12 mt-3">
							<label for="segment"
								class="font-archivo font-size-16 font-weight-medium text-secondary m-0">
								<b>{{"CLASSES.DESCRIPTION" | translate}}</b>
							</label> 
							<input type="text" required formControlName="description" class="form-control h50 br-10"
								id="segment" placeholder="{{'CATEGORIES_SEGMENTS.ENTER_DESCRIPTION' | translate}}">
							<div *ngIf="form.controls['description'].errors?.['required'] && isSubmit"
								class="div-msg-error mt-2">
								<img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
								<p class="font-poppins font-size-14 m-0">{{"CATEGORIES_SEGMENTS.SEGMENT_REQUIRED" |
									translate}}</p>
							</div>
						</div>

					</div>
					<div class="my-4">
						<div class="row">
							<div class="col-md-12">
								<div class="row d-flex justify-content-end">
									<div class="col-md-5">
										<button type="button" class="bg-transparent w-100 btn br-10 h50 color-pattern"
											(click)="cancel()"><strong>{{"BUTTON_TEXT.CANCEL" |
												translate}}</strong></button>
									</div>
									<div class="col-md-5">
										<button type="submit"
											class="btn bg-pattern text-light br-10 h50 w-100"><strong>{{"BUTTON_TEXT.REGISTER"
												| translate}}</strong></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>