<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-dark"><strong>{{'AGREEMENTS.NEW_AGREEMENT.TITLE' | translate}}</strong></h2>
      <hr class="bg-secondary">
    </div>
  </div>
  <div class="col-md-9">
    <form [formGroup]="form" class="row" (ngSubmit)="onSubmit()">
      <div class="col-md-4">
        <label class="text-dark text-capitalize" for="numberInsurance"><strong>{{'AGREEMENTS.AGREEMENT_DATA.NUMBER' |
            translate}}</strong></label>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control py-4 mr-1 text-center" formControlName="partInsuranceNumber" id="partInsuranceNumber"
              placeholder="000000" mask="0000000">
              /
              <input type="text" class="form-control py-4 ml-1 text-center" formControlName="partInsuranceYear" id="partInsuranceYear"
              [placeholder]="year" mask="0000">
            </div>
      </div>
      <div class="col-md-8">
        <label class="text-dark text-capitalize" for="object"><strong>{{'AGREEMENTS.OBJECT' |
            translate}}</strong></label>
        <input type="text" [maxlength]="50" class="form-control py-4" formControlName="object" id="object"
          placeholder="Digite seu objeto">
      </div>
      <div class="col-md-2 mt-4">
        <label class="text-dark" for="municipio"><strong>{{'AGREEMENTS.NEW_AGREEMENT.STATE' |
            translate}}</strong></label>
        <select (change)="getCity(form.controls['state'].value)" formControlName="state" class="form-control h50">
          <option value="" disabled selected style="display: none;">UF</option>
          <option *ngFor="let estados of statesList" [value]="estados">{{estados}}</option>
        </select>
      </div>
      <div class="col-md-6 mt-4">
        <label class="text-dark" for="municipio"><strong>{{'AGREEMENTS.AGREEMENT_DATA.AGREEMENT_CITY' |
            translate}}</strong></label>
        <select formControlName="city" class="form-control h50" id="municipio">
          <option [disabled]="true" [selected]="true">{{'SUPPLIER.COUNTY' | translate}}</option>
          <option *ngFor="let cidades of citiesList" [value]="cidades">{{cidades}}</option>
        </select>
      </div>
      <div class="col-md-4 mt-4">
        <label class="text-dark text-capitalize" for="value"><strong>{{'AGREEMENTS.AGREEMENT_DATA.PRICE' |
            translate}}</strong></label>
        <input type="text" formControlName="price" class="form-control py-4" id="value" separatorLimit="100000000"
          prefix="R$" mask="separator.2" decimalSeparator="," thousandSeparator=".">
      </div>
      <div class="col-md-4 mt-4">
        <label class="text-dark text-capitalize" for="datesub"><strong>{{'AGREEMENTS.AGREEMENT_DATA.SIGNATURE_DATE' |
            translate}}</strong></label>
        <input type="date" formControlName="datesub" class="form-control py-4" id="datesub"
          placeholder="{{'AGREEMENTS.AGREEMENT_DATA.ENTER_DATE' | translate}}" maxlength="10">
        <div *ngIf="invalidDates[0]" class="div-msg-error mt-2">
          <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
          <p class="font-poppins font-size-14 m-0">{{"ERROR_MESSAGES.INVALID_TIME" | translate}}</p>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <label class="text-dark text-capitalize" for="datemat"><strong>{{'AGREEMENTS.AGREEMENT_DATA.EFFECTIVE_DATE' |
            translate}}</strong></label>
        <input type="date" formControlName="datemat" class="form-control py-4" id="datemat"
          placeholder="{{'AGREEMENTS.AGREEMENT_DATA.ENTER_DATE' | translate}}" maxlength="10" max="{{maxDate()}}" >
        <div *ngIf="invalidDates[1]" class="div-msg-error mt-2">
          <img src="../../../assets/images/icon-alert.svg" class="img-msg-error" alt>
          <p class="font-poppins font-size-14 m-0">{{"ERROR_MESSAGES.INVALID_TIME" | translate}}</p>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <label class="text-dark text-capitalize" for="situation"><strong>{{'AGREEMENTS.NEW_AGREEMENT.SITUATION.TITLE' |
            translate}}</strong></label>
        <select formControlName="situation" class="form-control h50" id="situation">
          <option [value]="agreementStatusEnum.canceled" class="f-size-16 text-danger">
            {{'AGREEMENTS.NEW_AGREEMENT.SITUATION.CANCELED' | translate}}</option>
          <option [value]="agreementStatusEnum.concluded" class="f-size-16 text-success">
            {{'AGREEMENTS.NEW_AGREEMENT.SITUATION.COMPLETED' |
            translate}}</option>
          <option [value]="agreementStatusEnum.inExecution" class="f-size-16 text-warning">
            {{'AGREEMENTS.NEW_AGREEMENT.SITUATION.IN_EXECUTION' |
            translate}}</option>
        </select>
      </div>
      <div class="col-md-12 mt-4">
        <label class="text-dark text-capitalize" for="association"><strong>{{'AGREEMENTS.ASSOCIATION' |
            translate}}</strong></label>
        <select formControlName="association" class="form-control h50" id="association">
          <option *ngFor="let item of associationList" [value]="item._id">{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-12 mt-4">
        <label class="text-dark text-capitalize" for="review"><strong>{{'SIDEBAR.PROJECTS' |
            translate}}</strong></label>
        <select formControlName="review" class="form-control h50" id="review">
          <option *ngFor="let item of userList" [value]="item._id">{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-12 mt-4">
        <label class="text-dark text-capitalize" for="review"><strong>{{'ASSOCIATION_AGREEMENTS.REVIWER' |
            translate}}</strong></label>
        <select formControlName="reviewer" class="form-control h50" id="review">
          <option *ngFor="let item of reviewersList" [value]="item._id">{{item.name}}</option>
          <option *ngIf="!reviewersList.length" disabled>-</option>
        </select>
      </div>
      <div class="col-12 mb-5">
        <div class="row d-flex justify-content-end">
          <div class="col-md-4 mt-4 ">
            <button type="button" (click)="backConvenio()" class="btn btn-light w-100 color-patter h50">
              <strong>{{'AGREEMENTS.NEW_AGREEMENT.CANCEL_BUTTON' | translate}}</strong>
            </button>
          </div>
          <div class="col-md-4 mt-4 ">
            <button type="submit" class="btn bg-pattern text-light w-100 h50"
              [disabled]="form.controls['partInsuranceNumber'].value === '' || form.controls['object'].value === '' || form.controls['state'].value === '' || form.controls['city'].value === '' || form.controls['price'].value === '' || form.controls['datesub'].value === '' || form.controls['datemat'].value === '' || form.controls['situation'].value === '' || form.controls['association'].value === ''">
              <strong>{{'AGREEMENTS.NEW_AGREEMENT.SAVE_BUTTON' | translate}}</strong>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>