<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-3 align-items-center text-center">
            <h2 class="my-3">Error 404</h2>
            <div class="w-100 d-flex justify-content-center">
               <img src="../../../assets/images/404.jpg" class="w-100 h-auto" style="max-height: 500px; max-width: 500px" />
            </div>
            <button type="button" class="btn bg-pattern mb-5 text-light br-10 h50 w-50" (click)="goBack()">{{ "DELETE_USER.CANCEL_BUTTON" | translate }}</button>
        </div>
    </div>
</div>