<main class="row bg-light br-10 p-3">
    <div class="col-md-12 d-flex justify-content-between">
        <h2 class="text-dark"><strong>{{"PRODUCTS.DELETE_PRODUCT_TITLE" | translate}}</strong></h2>
        <i (click)="closeModal()" class="bi cursor-pointer h5 mb-0 color-pattern bi-x"></i>
    </div>
    <div class="col-md-12 py-2">        
        <p class="text-dark">{{"PRODUCTS.PRODUCT_DELETE" | translate}}<br /> <strong>{{localStorage.getDataProdutos().product_name}}</strong>?</p>
    </div> 
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <button class="btn w-100 color-pattern bg-transparent h50 br-10" type="button" (click)="closeModal()"><strong>{{ "BUTTON_TEXT.CANCEL" | translate }}</strong></button>
            </div>
            <div class="col-md-6">
                <button class="btn w-100 btn-danger h50 br-10" type="button" (click)="deleteItem()"><strong>{{ "AGREEMENTS.DELETE_AGREEMENT.DELETE_BUTTON" | translate }}</strong></button>
            </div> 
        </div>
    </div>
</main>