<div class="py-5 px-5 bg-white">
    <div class="row">
        <div class="d-flex flex-fill justify-content-between">
            <h5 class="m-0">{{'DELETE_SUPPLIER.DELETE_SUPPLIER'  | translate}}</h5>
            <i class="fa fa-times cursor-pointer" (click)="closeModal()" aria-hidden="true"></i>
        </div>
    </div>
    <form>
        <div class="row mt-4">
            <p class="font-poppins font-size-14 text-secondary">{{'DELETE_SUPPLIER.DELETE_SUPPLIER_CONFIRM'  | translate}} {{fornecedor.name}}<b class="text-capitalize"></b>?</p>
        </div>

        <div class="mt-4">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <button type="button" class="bg-light btn-border-none btn-lg btn-block" (click)="closeModal()">{{'DELETE_SUPPLIER.DELETE_BACK'  | translate}}</button>
                </div>
                <div class="col-md-6 pr-0">
                    <button id="cancel" type="submit" class="btn btn-danger btn-lg btn-block" (click)="deleteFornecedor()">{{'DELETE_SUPPLIER.DELETE_CONFIRM'  | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>