<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2 class="text-primary">{{'SUPPLIER.SUPPLIER' | translate}}</h2>
      <hr class="bg-secondary">
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row mt-4">
      <div class="col-md-9">
        <input type="text" class="form-control form-control-lg text-secondary input-height-border" 
          formControlName="search"
          placeholder="{{'SUPPLIER.SEARCH_NAME' | translate}}">
      </div>
      <div class="col-md-3" *ngIf="authService.getAuthenticatedUser().roles !== 'visualizador_projetos'">
        <button type="button" class="btn btn-primary btn-lg btn-block"
          [routerLink]="['/pages/fornecedor/registrar-fornecedor']">
          <i class="bi bi-plus-circle"></i>
          {{'SUPPLIER.NEW_SUPPLIER' | translate}}
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="table-responsive-sm">
          <table class="table table-hover table-bordered shadow-sm rounded">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'SUPPLIER.NAME' | translate}}</th>
                <th scope="col">{{'SUPPLIER.DOCUMENT' | translate}}</th>
                <th scope="col">{{'SUPPLIER.COUNTY' | translate}}</th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
                <th scope="col" *ngIf="authService.getAuthenticatedUser().roles !== 'visualizador_projetos'" class="text-center"></th>
                <th scope="col" *ngIf="authService.getAuthenticatedUser().roles !== 'visualizador_projetos'" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of fornecedorFilter | paginate: { itemsPerPage: itensPerPage, currentPage: currentPage }; let i= index;">
                <th class="text-capitalize" (click)="navigateToItem(item._id)" scope="row">{{item.name}}</th>
                <td class="text-capitalize" (click)="navigateToItem(item._id)">{{item.cpf}}</td>
                <td class="text-capitalize" (click)="navigateToItem(item._id)">{{item.address.city}}</td>
                <td class="text-center">
                  <button class="btn btn-info" [routerLink]="['/pages/fornecedor/dados-fornecedor/' + item._id]">
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
                <td *ngIf="item.blocked" class="text-center">
                  <img src="../../../assets/images/blocked-icon.svg" alt="Blocked" style="max-height: 20px; max-width: 20px;">
                </td>
                <td *ngIf="!item.blocked" class="text-center">
                  <div style="max-height: 20px;"></div>
                </td>
                <td class="text-center" *ngIf="authService.getAuthenticatedUser().roles !== 'visualizador_projetos'">
                  <button [routerLink]="['/pages/fornecedor/editar-fornecedor/' + item._id]" class="btn btn-warning">
                    <i class="bi bi-pencil"></i>
                  </button>
                </td>
                <td class="text-center" *ngIf="authService.getAuthenticatedUser().roles !== 'visualizador_projetos'">
                  <button class="btn btn-danger" (click)="openModal(item)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <pagination-controls 
                (pageChange)="currentPage = $event" 
                previousLabel="{{'BUTTON_TEXT.PREVIOUS' | translate}}"
                nextLabel="{{'BUTTON_TEXT.NEXT' | translate}}">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
