<div class="dropdown">
	<a class="dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false">
		<div class="d-flex align-items-center">
			<img class="mr-1" src="../../../assets/images/translate.png" style="height: 21px; width: 21px;" />
			<span class="text-white">
				{{ selectLang }}
			</span>
		</div>
	</a>
	<div class="dropdown-menu mt-2 ml-1" aria-labelledby="navbarDropdown">
		<div class="dropdown-item body-400-md" (click)="changeLanguage('en')">
			<div class="d-flex cursor-pointer">
				
				<span>EN-US</span>
			</div>
		</div>
		<div class="dropdown-item body-400-md" (click)="changeLanguage('pt')">
			<div class="d-flex cursor-pointer">
				
				<span>PT-BR</span>
			</div>
		</div>
		<div class="dropdown-item body-400-md" (click)="changeLanguage('fr')">
			<div class="d-flex cursor-pointer  align-items-center">
				
				<span>FR-FR</span>
			</div>
		</div>
		<div class="dropdown-item body-400-md" (click)="changeLanguage('es')">
			<div class="d-flex cursor-pointer">
				
				<span>ES-ES</span>
			</div>
		</div>
	</div>
</div>