<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-dark"><strong>{{"SIDEBAR.PRODUCTS" | translate}}</strong></h2>
      <hr class="bg-secondary">
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row mt-4">
      <div class="col-md-9">
        <input class="form-control text-secondary input-height-border" type="search" name="search"
          formControlName="search" placeholder="{{'PRODUCTS.SEARCH_NAME' | translate}}">
      </div>
      <div class="col-md-3" *ngIf="authService.getAuthenticatedUser().type == 'administrador'">
        <button type="button" class="btn btn-primary btn-lg btn-block"
          [routerLink]="['/pages/produtos/registrar-produto']">
          {{"PRODUCTS.NEW_PRODUCT" | translate}} 
        </button>
      </div>

    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="table-responsive-sm">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="br-tabele bg-pattern text-light" scope="col">PDM</th>
                <th class="bg-pattern text-light" scope="col">{{"SUPPLIER.NAME" | translate}}</th>
                <th class="bg-pattern text-light" scope="col">{{"AGREEMENTS.ACTIONS" | translate}}</th>
                <th class=" bg-pattern text-light" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-right border-left"
                *ngFor="let item of productFilterList | filter: filterTerm | paginate: { itemsPerPage: itensPerPage, currentPage: currentPage }">
                <th class="text-capitalize" scope="row">{{item.pdm}}</th>
                <td class="text-capitalize">{{item.product_name}}</td>
                <td class="table_icon">
                  <button class="btn btn-outline-secondary" *ngIf="authService.getAuthenticatedUser().type !== 'project_manager'" (click)="editItem(item)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                </td>
                <td class="table_icon" *ngIf="authService.getAuthenticatedUser().type == 'administrador'">
                  <button class="btn btn-danger" (click)="delete(item, item._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12">
              <pagination-controls (pageChange)="currentPage = $event"
                previousLabel="{{'BUTTON_TEXT.PREVIOUS' | translate}}"
                nextLabel="{{'BUTTON_TEXT.NEXT' | translate}}">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>