<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-dark"><strong>{{"PDM.SECTION_TITLE" | translate}}</strong></h2>
      <hr class="bg-secondary">
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row mt-4">
      <div class="col-md-9">
        <input class="form-control text-secondary input-height-border" type="search" name="search"
          placeholder="{{'PDM.SEARCH' | translate}}" formControlName="search">
      </div>
      <div class="col-md-3" *ngIf="authService.getAuthenticatedUser().type == 'administrador'">
        <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/pages/pdm/registrar-pdm']">
          {{"PDM.NEW_PDM" | translate}}
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="table-responsive-sm">
          <table class="table table-hover">
            <thead>
              <tr>                
                <th class="bg-pattern text-light" scope="col">{{"PDM.CLASS_TITLE" | translate}}</th>
                <th class="bg-pattern text-light" scope="col">{{"PDM.CODE_TITLE" | translate}}</th>
                <th class="bg-pattern text-light" scope="col">{{"PDM.NAME_TITLE" | translate}}</th>
                <th class="bg-pattern text-light" scope="col">{{"PDM.ACTIONS" | translate}}</th>
                <th class="bg-pattern text-light" scope="col"></th>
                <th class=" bg-pattern text-light" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-right border-left"
                *ngFor="let item of pdmFilterList | paginate: { itemsPerPage: itensPerPage, currentPage: currentPage }">

                <th class="text-capitalize" scope="row">{{item.group.code +''+item.class.code+' '+item.class.description}}</th>
                <td class="text-capitalize">{{item.code}}</td>
                <td class="text-capitalize">{{item.name}}</td>
                <td [routerLink]="['/pages/pdm/dados-pdm/' + item._id]"><i class="bi bi-eye-fill"></i>
                </td>
                <td class="table_icon" *ngIf="authService.getAuthenticatedUser().type == 'administrador'">
                  <button class="btn btn-outline-secondary" *ngIf="authService.getAuthenticatedUser().type !== 'project_manager'" (click)="editPdm(item)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                </td>
                
                <td class="table_icon" *ngIf="authService.getAuthenticatedUser().type == 'administrador'">
                  <button class="btn btn-danger" (click)="delete(item, item._id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
                
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12"> <pagination-controls (pageChange)="currentPage = $event"
                previousLabel="{{'BUTTON_TEXT.PREVIOUS' | translate}}" nextLabel="{{'BUTTON_TEXT.NEXT' | translate}}"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>